@import '~antd/dist/antd.dark.css';
@import '~antd/dist/antd.compact.css';

body {
  height: 100%;
  width: 100%;
}

.appContent {
  height: 100%;
  width: 100%;

  padding: 20px;
}

#root {
  height: 100%;
  width: 100%;
}

.ant-layout {
  height: 100%;
  width: 100%;
}
